<app-navbar2></app-navbar2>

<section class="">

    <div class="d-flex justify-content-between aling-items-center  fuenteTitulosTabla p-5 backgroundUsuarios  ">
        <h1 class="posicionTitulo">Lista de Usuarios</h1>
        <button type="button" class=" posicionTitulo btn colorbotones text-white">Nuevo Usuario</button>
    </div>


    <table class=" container  table-responsive m-5">
        <thead>
            <tr class="fuenteTitulosTabla fw-bold">
                <th>#</th>
                <td>Producto</td>
                <td>Precio</td>
                <td>Categoría</td>
                <td>Número de existencias</td>
                <td>Fecha de registro</td>
                <th class="py-5">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="fuenteContenidoTabla">
                <th scope="row">1</th>
                <td>Producto</td>
                <td>Precio</td>
                <td>Categoría</td>
                <td>Número de existencias</td>
                <td>Fecha de registro</td>
                <td>
                    <button type="button" class="btn btnColor mx-2 btn-sm  fuenteTitulosTabla btnEditar text-white">Editar</button>
                    <button type="button" class="btn btnColorEliminar mx-2 btn-sm text-white fuenteTitulosTabla btnEliminar">Eliminar</button>
                </td>
            </tr>
            <tr class="fuenteContenidoTabla">
                <th scope="row">1</th>
                <td>Producto</td>
                <td>Precio</td>
                <td>Categoría</td>
                <td>Número de existencias</td>
                <td>Fecha de registro</td>
                <td>
                    <button type="button" class="btn btnColor mx-2 btn-sm  fuenteTitulosTabla btnEditar text-white">Editar</button>
                    <button type="button" class="btn btnColorEliminar mx-2 btn-sm text-white fuenteTitulosTabla btnEliminar">Eliminar</button>
                </td>
            </tr>
            <tr class="fuenteContenidoTabla">
                <th scope="row">1</th>
                <td>Producto</td>
                <td>Precio</td>
                <td>Categoría</td>
                <td>Número de existencias</td>
                <td>Fecha de registro</td>
                <td>
                    <button type="button" class="btn btnColor mx-2 btn-sm  fuenteTitulosTabla btnEditar text-white">Editar</button>
                    <button type="button" class="btn btnColorEliminar mx-2 btn-sm text-white fuenteTitulosTabla btnEliminar">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<app-footer></app-footer>