.fuenteTextos{
    font-family: 'Nunito', sans-serif;
}

.fuenteSubTitulos{
    font-family: 'Playfair Display', serif;
}

.colorFuenteFooter{
    color: #400101;
}

.backgroundFooter2{

    background-color: #400101;
}