.nuevo {
    position: absolute;
    top: 10%;
    padding: 2%;
}

.exclusivo {
    position: absolute;
    top: 50%;
    padding: 2%;
}

.fuenteTitulos {
    font-family: 'Work Sans', sans-serif;
}

.colorBotones {
    background-color: #732002;
}

.colorBotones:hover {
    background-color: #400101;
}

.fuenteBotones {
    font-family: 'Playfair Display', serif;
}

.fuenteGeneral {
    font-family: 'Nunito', sans-serif;
}

.margen {
    margin-left: 50px;
}

.imagenFondo {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    height: 700px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.colorTexto {
    color: #732002;
}

.bordeRadius {
    border-radius: 10px;
}

.paddingTitle {
    padding: 20%;
}

.btnHome {
    background-color: #faf6f6;
}

.btnHome:hover {
    background-color: #beb6b3;
}

.fuenteGrande {
    font-size: 4rem;
}