<app-navbar2></app-navbar2>

<section class="container mt-5 mb-5">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1 class="h1">Tabla Productos</h1>
        <button type="button" class="btn btn-success">Create</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoría</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">12314123</th>
                <td>Poker 1L</td>
                <td>Cerveza</td>
                <td>5</td>
                <td>
                    <div class="d-flex">
                        <button type="button" class="btn btn-warning me-5">Update</button>
                        <button type="button" class="btn btn-danger me-5">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<app-footer></app-footer>
