<app-navbar2></app-navbar2>
<section>
    <div class="d-flex justify-content-between aling-items-center  fuenteTitulosTabla p-5 backgroundUsuarios  ">
        <h1 class="posicionTitulo">Perfil</h1>
    </div>

    <section class="d-flex backgroundTable ">
        <div class="posicionTabla">
            <div class=" d-flex justify-content-center align-items-center flex-column mt-5 titulosPerfil p-5">
                <img class="w-50 rounded-5" src="assets/img/fotoPerfil.png" alt="">
                <button type="button " class="btn btn-success mt-3">Editar perfil</button>
            </div>
        </div>
        <div class=" margenTabla posicionTabla">
            <table class=" table table-borderless offset-1 col-6 mt-5 mb-5 ">
                <thead>
                    <tr>
                        <th class="titulosPerfil fw-bold fs-3 ">Alias</th>
                        <th class="textosPerfil fw-bold fs-3">Borrachin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="titulosPerfil fw-bold fs-5">Nombre</td>
                        <td class="textosPerfil  fs-5 ">Pepito</td>
                    </tr>
                    <tr>
                        <td class="titulosPerfil fw-bold fs-5">Apellido</td>
                        <td class="textosPerfil fs-5" > Perez</td>
                    </tr>
                    <tr>
                        <td class="titulosPerfil fw-bold fs-5">Ig</td>
                        <td class="textosPerfil fs-5" > @borrachin#1</td>
                    </tr>
                    <tr>
                        <td class="titulosPerfil fw-bold fs-5">Correo</td>
                        <td class="textosPerfil fs-5" > megustalacerveza@email.com</td>
                    </tr>
                    <tr>
                        <td class="titulosPerfil fw-bold fs-5">Cidudad</td>
                        <td class="textosPerfil fs-5" > Cervecelandia</td>
                    </tr>
                    <tr>
                        <td class="titulosPerfil fw-bold fs-5">Dirección</td>
                        <td class="textosPerfil fs-5" > Calle siempre viva 123</td>
                    </tr>
                    <tr>
                        <td class="titulosPerfil fw-bold fs-5">telefono</td>
                        <td class="textosPerfil fs-5" > 1234568</td>
                    </tr>
    
                    <tr>
                        <td class="titulosPerfil fw-bold fs-5">Cervezas compradas</td>
                        <td class="textosPerfil fs-5" > 78</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</section>

<app-footer></app-footer>
