<app-navbar2></app-navbar2>

<section class="backgroundRegistro">
    <section class="posicionContenido fw-bold">
        <div class="container row ">
            <h1 class="fuenteSubTitulos colorTexto m-5  col-12">Editar Perfil</h1>
        </div>


        <form class="row g-3 container ms-5 fw-bold fuenteTextos posicionContenido ">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Nombre</label>
                <input type="email" class="form-control" id="inputEmail4 " placeholder="no se puede modificar">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="no se puede modificar">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
                <label for="inputZip" class="form-label">Ig</label>
                <input type="text" class="form-control" id="inputZip">
            </div>

            <div class="col-md-4 ">
                <label for="inputState" class="form-label">Ciudad</label>
                <select id="inputState" class="form-select">
                    <option value="">-</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Barranquilla">Barranquilla</option>
                    <option value="Bogotá">Bogotá</option>
                    <option value="Bucaramanga">Bucaramanga</option>
                    <option value="Cali">Cali</option>
                    <option value="Cartagena">Santa Martha</option>
                </select>
            </div>

            <div class="col-6">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-2">
                <label for="inputAddress" class="form-label">Complemento</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="apto/casa">
            </div>
            <div class="col-8">
                <label for="inputAddress2" class="form-label">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-md-6 ">
                <label for="inputState" class="form-label">Tipo de identificación</label>
                <select id="inputState" class="form-select">
                    <option value="">-</option>
                    <option value="Armenia">Cédula</option>
                    <option value="Barranquilla">Cédula de extranjería</option>
                    <option value="Bogotá">Pasaporte</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputZip" class="form-label">Numero de identificación</label>
                <input type="text" class="form-control" id="inputZip" placeholder="no se puede modificar">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Crear contrseña</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Verificar contraseña</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>

            <div class="col-md-6">
                <label for="inputZip" class="form-label">Tu alias cervecero</label>
                <input type="text" class="form-control" id="inputZip">
            </div>

            <div class="col-12">
                <button type="submit" class="btn colorbotones text-white fuenteSubTitulos  mb-5">Guardar
                    Información</button>
            </div>
        </form>
    </section>
</section>

<app-footer></app-footer>
